<article id="comment{% unless r %}{{ index | prepend: '-' }}{% else %}{{ index | prepend: '-' }}{% endunless %}"
  class="js-comment comment {% if name == site.author.name %}admin{% endif %} {% unless replying_to == 0 %}child{% endunless %}"
  uid="{{ uid }}">

  <div class="comment__author">
    {{ name }},
    <span class="comment__date">
      {% if date %}
        {% if index %}
          <a href="#comment{{ index | prepend: '-' }}" title="Permalink to this comment">
        {% endif %}
        {{ date | date: "%Y-%m-%d %H:%M" }}
        {% if index %}</a>{% endif %}
      {% endif %}
    </span>
  </div>

  <div class="comment__body">
    {{ message }}
  </div>

  {% unless replying_to != 0 %}
    <div class="comment__meta">
      <a rel="nofollow" class="comment__reply-link" onclick="return addComment.moveForm('comment-{{ index }}', '{{ index }}', 'respond', '{{ page.fileSlug }}', '{{ uid }}')">↪&#xFE0E; Reply to {{ name }}</a>
    </div>
  {% endunless %}
</article>

{% capture i %}{{ index }}{% endcapture %}
{% assign replies = site.data.comments[page.fileSlug] | objToArray | where: 'replying_to', i %}
{% assign replies_date = replies | sortBy : 'date' %}
{% for reply in replies_date %}
  {% assign index       = forloop.index | prepend: '-' | prepend: index %}
  {% assign r           = reply.replying_to %}
  {% assign replying_to = r | to_integer %}
  {% assign email       = reply.email %}
  {% assign name        = reply.name %}
  {% assign url         = reply.url %}
  {% assign date        = reply.date %}
  {% assign message     = reply.message %}
  {% include 'comment', index: index, replying_to: replying_to, email: email, name: name, url: url, date: date, message: message %}
{% endfor %}