<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>{{pageTitle}}</title>
        {% if SEO_Description %}
        <meta name="description" content="{{ SEO_Description }}">
        {% endif %}
        <!-- capture the CSS content as liquid variable -->
        {% capture css %}
        {% include 'styles.css' %}
        {% endcapture %}
        {% capture commentsCss %}
        {% include 'comments.css' %}
        {% endcapture %}
        {% capture syntaxHighlightCss %}
        {% include 'prism-a11y-dark.css' %}
        {% endcapture %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
        {{ css | cssmin | safe }}
        {% if commentsEnabled == true %}
            {{ commentsCss | cssmin | safe }}
        {% endif %}
        {% if syntaxHighlightEnabled == true %}
            {{ syntaxHighlightCss | cssmin | safe }}
        {% endif %}
        </style>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body class="Site">
    <header class="Site-header">
        <div class="wrapper">
            <a class="title" href="/">Yet another blog</a>
            <a href="/about/">About</a>
        </div>
    </header>
    <main class="Site-content">
        <div class="wrapper">
            <h1>{{ pageTitle }}</h1>
            {%- if page.url contains "/posts/" -%}
                <p class="post__date">
                    {{ page.date | formatDate: "dd MMM yyyy" }}
                </p>
            {%- endif -%}
            <article>
                {{ content }}
            </article>
            {%- if page.url != '/' -%}
                    <nav>
                        <a class="home-link" href="/">&#8592; Home</a>
                    </nav>
            {%- endif -%}
            {% if commentsEnabled == true %}
                {% include 'comments' %}
            {% endif %}
        </div>
    </main>
    <footer class="Site-footer">
        <div class="wrapper">
        <section>
        <p class="title">
        Yet another blog
        </p> 
        <p class="author">Dmitrii Kabardinov</p></section>
        <section>
            <p>
                <a href="mailto:dkabardinov@gmail.com">dkabardinov@gmail.com</a>
            </p>
            <p class="twitter profile">
                <a href="https://twitter.com/dkabardinov">
                    <img class="icon" src="/assets/graphics/twitter.svg" aria-hidden="true" />dkabardinov
                </a>
            </p>
            <p class="github-link">
               <a title="GitHub profile" href="https://github.com/dKab"><img class="icon" aria-hidden="true" src="/assets/graphics/github.svg">dKab</a>
            </p>
        </section>
        </div>
    </footer>
    {% if commentsEnabled == true %}
        {% include 'comment-result-modal' %}
    {% endif %}
    </body>
</html>