<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>{{pageTitle}}</title>
        <!-- capture the CSS content as liquid variable -->
        {% capture css %}
        {% include 'styles.css' %}
        {% endcapture %}
        {% capture commentsCss %}
        {% include 'comments.css' %}
        {% endcapture %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
        {{ css | cssmin | safe }}
        {% if commentsEnabled == true %}
            {{ commentsCss | cssmin | safe }}
        {% endif %}
        </style>
        <link rel="icon" href="/assets/favicon.ico" sizes="any" type="image/svg+xml">
    </head>
    <body class="Site">
    <header class="Site-header">
        <div class="wrapper">
            <a class="title" href="/">Yet another blog</a>
            <a href="/about/">About</a>
        </div>
    </header>
    <main class="Site-content">
        <div class="wrapper">
            <h1>{{ pageTitle }}</h1>
            {%- if page.url contains "/posts/" -%}
                <p class="post__date">
                    {{ page.date | formatDate: "dd MMM yyyy" }}
                </p>
            {%- endif -%}
            {{ content }}
            {%- if page.url != '/' -%}
                    <a class="home-link" href="/">&#8592; Home</a>
            {%- endif -%}
            {% if commentsEnabled == true %}
                {% include 'comments' %}
            {% endif %}
        </div>
    </main>
    <footer class="Site-footer">
        <div class="wrapper">
        <section>
        <p class="title">
        Yet another blog
        </p> 
        <p class="author">Dmitrii Kabardinov</p></section>
        <p>
            <a href="mailto:dkabardinov@gmail.com">dkabardinov@gmail.com</a>
        </p>
        <p>
           <a title="GitHub profile" href="https://github.com/dKab"><img class="icon" aria-hidden="true" src="/assets/graphics/github.svg">dKab</a>
        </p>
        </div>
    </footer>
    </body>
</html>