<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>{{pageTitle}}</title>
        {% if SEO_Description %}
        <meta name="description" content="{{ SEO_Description }}">
        {% capture js %}
        {% include 'theme-switch.js' %}
        {% endcapture %}
        <script>
            {{ js | jsmin | safe }}
        </script>
        {% endif %}
        {% if commentsEnabled == true  %}
        <link rel="preconnect" href="https://cdn.jsdelivr.net">
        {% endif %}
        <!-- capture the CSS content as liquid variable -->
        {% capture css %}
        {% include 'styles.css' %}
        {% endcapture %}
        {% capture commentsCss %}
        {% include 'comments.css' %}
        {% endcapture %}
        {% capture syntaxHighlightCss %}
        {% include 'prism-a11y-dark.css' %}
        {% endcapture %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
        {{ css | cssmin | safe }}
        {% if commentsEnabled == true %}
            {{ commentsCss | cssmin | safe }}
        {% endif %}
        {% if syntaxHighlightEnabled == true %}
            {{ syntaxHighlightCss | cssmin | safe }}
        {% endif %}
        </style>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body class="Site">
    <header class="Site-header">
        <div class="wrapper">
            <a class="title" href="/"><img alt="The Static Blog" src="/assets/graphics/drawing11.svg"></a>
            <label class="switch hidden" title="Toggle dark mode" aria-label="Toggle dark mode">
                <span aria-hidden="true" class="left"></span><span aria-hidden="true" class="right"></span>
                <input id="theme-switcher" type="checkbox">
                <span class="slider round" aria-hidden="true"></span>
            </label>
        </div>
    </header>
    <main class="Site-content">
        <div class="wrapper">
            <h1>{{ pageTitle }}</h1>
            {%- if page.url contains "/posts/" -%}
                <p class="post__date">
                    {{ page.date | formatDate: "dd MMM yyyy" }}
                </p>
            {%- endif -%}
            {% if coverPhoto %}
                <figure class="cover-photo">
                    <picture>
                        <source srcset="/assets/images/{{ coverPhoto }} " media="(min-width: 376px)" />
                        <source srcset="/assets/images/{{ coverPhotoSmall }}" media="(max-width: 376px)" />
                        <img src="/assets/images/{{ coverPhotoSmall }}"
                        alt="{{ coverPhotoAltText }}"
                         />
                    </picture>
                    <span class="image-caption">Photo: {{ coverPhotoAuthor }}</span>
                </figure>
            {% endif %}
            <article>
                {{ content }}
            </article>
            {%- if page.url != '/' -%}
                    <nav>
                        <a class="home-link" href="/">&#8592; Home</a>
                        {%- if page.url contains "/posts/" -%}
                          <div class="posts">
                            {% getPreviousPost page.url collections.posts %}
                            {% getNextPost page.url collections.posts %}
                          </div>
                        {% endif %}
                    </nav>
            {%- endif -%}
            {% if commentsEnabled == true %}
                {% include 'comments' %}
            {% endif %}
        </div>
    </main>
    <footer class="Site-footer">
        <div class="wrapper">
        <p class="title">
        The Static Blog
        </p>
        {% comment %} <p class="email">
            <a href="mailto:dkabardinov@gmail.com">dkabardinov@gmail.com</a>
        </p> {% endcomment %}
         <p class="about"><a href="/about/">About</a></p>
            <p class="twitter profile">
                <a href="https://twitter.com/dkabardinov">
                    <img class="icon twitter-icon" src="/assets/graphics/twitter.svg" aria-hidden="true" />dkabardinov
                </a>
            </p>
            <p class="github-link">
               <a title="GitHub profile" aria-label="Github profile" href="https://github.com/dKab"><i class="icon github-icon" aria-hidden="true"></i>dKab</a>
            </p>
        </div>
    </footer>
    {% if commentsEnabled == true %}
        {% include 'comment-result-modal' %}
    {% endif %}
    </body>
</html>